# Python virtual environment
venv/
backend/venv/

# Django migrations
**/*.py[cod]
**/__pycache__/

# Local SQLite database
db.sqlite3
test_db.sqlite3

# Environment variables file
.env

# VS Code workspace settings
.vscode/

core/__pycache__