# Python virtual environment
venv/
backend/venv/

# Django migrations
**/*.py[cod]
**/__pycache__/

# Local SQLite database
core/db.sqlite3
core/test_db.sqlite3

# Environment variables file
.env

# VS Code workspace settings
.vscode/
